[user]
	name = tumaro
	email = contact.tumins@gmail.com
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[core]
	editor = hx
	pager = delta

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
    s  = status
    l  = log --oneline --graph --decorate
    aa = add .
    cm = commit -m
    ca = commit --amend --no-edit
    p  = push
    pl = pull --rebase
    d  = diff
    ds = diff --staged

[push]
	autoSetupRemote = true

[pull]
	rebase = false
